* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
}

header {
  background-image: url("https://i.imgur.com/iozTWNb.jpg?1");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}

a:link {
    text-decoration: none;
    background-color: none;
    color: black;
}

a:visited {
    text-decoration: none;
    background-color: none;
    color: black;
}

a:hover {
    text-decoration: none;
    background-color: none;
    color: #BC9961;
    transition: all .3s linear;
}

a:active {
    text-decoration: none;
    background-color: none;
    color: #BC9961;
}

p {
  color: #76787a;
}

.top-category-banner {
  background-color: #E8E8E8
}

.main-header {
  padding-top: 165px;
  text-align: center;
}

.category {
  text-align: center;
  color: #D21117;
  margin-bottom: 0px;
  margin-right: 290px;
  padding-top: 10px;
  letter-spacing: 0.2em;
}

.category-title {
  text-align: center;
  margin-bottom: 0px;
  font-size: 90px;
  letter-spacing: 4px;
}

.seperator-top {
  width: 30%;
  overflow: visible;
  padding: 0
  border: none;
  border-top: medium double #fff;
  color: #fff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

.edit-category {
  padding: 8px 20px;
  padding-left: 10px;
  margin-right: 0px;
  line-height: 20px;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #1a1a1a;
  background: white;
  opacity: 0.6 !important;
  text-transform: none;
  display: inline-block;
}

.edit {
  padding-left: 10px;
  color: #333;
}

.delete-category {
  padding: 8px 20px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 20px;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #1a1a1a;
  background: white;
  opacity: 0.6 !important;
  text-transform: none;
  display: inline-block;
}

.delete {
  padding-left: 0px;
  color: #333;
}

.new-category {
  padding: 8px 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-right: 10px;
  line-height: 20px;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #1a1a1a;
  background: white;
  opacity: 0.6 !important;
  text-transform: none;
  display: inline-block;
}

.new {
  margin-left: 0px;
  color: #333;
  word-break: normal;
}

.seperator-bottom {
  width: 30%;
  overflow: visible;
  padding: 0 0.25em;
  border: none;
  border-top: medium double #fff;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.dotted-nav-border {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 60px;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}

.topnav {
    background-color: #333;
    padding-right: 70px;
    margin-top: 7px;
    margin-bottom: 7px;
    overflow: hidden;
}

.udacity-logo {
  padding-left: 70px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    text-decoration: none;
    background-color: none;
    color: #BC9961;
    transition: all .3s linear
}

.categories-list {
  display: inline-block;
  padding: 6px;
  margin-top: -3px;
}

.container {
  min-width: 330px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.name {
  padding-top: 10px;
  padding-bottom: 7px;
  margin-bottom: 0px;
  font-family: 'Fanwood Text', serif;
  font-size: 20px;
  text-align: center;
}

.price {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
}

.description {
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

.catalog-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
}

.classWithPad {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  padding:10px;
  border: 1px solid #d5d8dd;
}
