<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='catalog.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Fanwood+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
  <header class="top-category-banner" style="height: 600px">
    <div class="main-header">
      <h5 class="category"> category </h5>
      <h1 class="category-title"> {{category.name}} </h1>
      <hr class="seperator-top">
      <div class="edit-category" style="width:75px;">
        <a class="edit" href="{{url_for('editCategory', category_id = category.id)}}"> edit. </a>
      </div>
      <div class="delete-category" style="width:80px;">
        <a class="delete" href="{{url_for('deleteCategory', category_id = category.id)}}"> delete. </a>
      </div>
      <div class="new-category" style="width:80px;">
        <a class="new" href="{{url_for('showCatalogItems', category_id = category.id, newCatalogItem = items.id)}}"> create. </a>
      </div>
      <hr class="seperator-bottom">
    </div>
  </header>
<nav>
  <div class="top-menu">
    
</nav>

<h2 class="catalog-header"> catalog. </h2>


{% for i in items %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
    <div class="items-list">
        <div class="name">
          {{i.name}}
        </div>
        <p class="price">
          {{i.price}}
        </p>
        <p class="description">
          {{i.description}}
        </p>
        <a class="edit-item" href="{{url_for('editCatalogItem', category_id = category.id, item_id = i.id)}}"> Edit </a>
        <a class="delete-item" href="{{url_for('deleteCatalogItem', item_id = i.id, category_id = category.id)}}"> Delete </a>
      </div>
      </div>
    </div>
  </div>
{% endfor %}

</body>
</html>
