<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='categories.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Fanwood+Text" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
  <header class="top-category-banner" style="height: 600px">
  </header>

  <nav class="global-nav">
    <div class="topnav">
    <img src="https://i.imgur.com/iTLkMbp.png?1" class="udacity-logo" alt="udacity-logo">
    <a href="https://github.com/10asmock/catalog-items">Github</a>
    <a href="{{url_for('showCategories')}}">Home</a>
    <a href="/login">Login</a>
    <hr class="dotted-nav-border">
  </div>
</nav>

<section>
  <div class="main">
    <img src="https://i.imgur.com/PSHPA3O.jpg?1" class="living-room" alt="living-room">
</div>

<hr class="dotted-border top">
<div class="category-list-header">
  <span class="category-header"> categories. </span></br>
</div>
<div class="category-new">
  <a href="{{url_for('newCategory', category_id = category.id, newCategory = category_id)}}"> Create.</a>
</div>
<div class="category-loop">
{% for i in category %}
<div class="categories-list">
<a href="{{url_for('showCatalogItems', category_id = i.id)}}"> {{i.name}} </a>
</div>
{% endfor %}
</div>
<hr class="dotted-border bottom">

<div class="main-section-home">
  <h3 class="main-section-slogan">Live You.</h3>
</div>

<!--<a href="{{url_for('newCategory', category_id = category.id, newCategory = category_id)}}"> Create a New Category </a>


{% for i in category %}

<div class="name">
<a href="{{url_for('showCatalogItems', category_id = i.id)}}"> {{i.name}} </a>
<a href="{{url_for('editCategory', category_id = i.id)}}"> Edit </a>
<a href="{{url_for('deleteCategory', category_id = i.id)}}"> Delete </a>
</div>
{% endfor %}-->

</body>
</html>
